<router-outlet></router-outlet>
<footer class="container mt-4">
    <div class="row">
      <div class="col">
        <p class="text-center">Original design by <a href="#">Zero Labs</a></p>
      </div>
    </div>
  </footer>