<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Game</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="row"></div>
        <ul class="navbar-nav mr-auto">
        
        </ul>
        <div class="row">
            <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"> -Metal- {{playerData.metalAmmount}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> -Crystals- {{playerData.crystalAmmount}} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"> -Energy- {{playerData.energyAmmount}}</a>
          </li>
        </ul>
        </div>
    
        <ul class="nav navbar-nav ml-auto">
         
            <a class="nav-link" href="#">Mensagens</a> 
        </ul>
      </div>
    </div>
  </nav>
  
  <main role="main" class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
      
        </div>
      </div>
    </div>
    <div class="row">
      <!-- wider column -->
      <div class="col-md-8 mb-4">
       
        
      <router-outlet></router-outlet>>
      
      
      </div>
      <div class="col-md-4 mb-4">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link"routerLink="/home/overview" routerLinkActive="active">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/resources" routerLinkActive="active" >Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   routerLink="/home/facilities" routerLinkActive="active" >Facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   routerLink="/home/research" routerLinkActive="active" >Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/home/fleet" routerLinkActive="active">Fleet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   routerLink="/home/defenses" routerLinkActive="active" >Defenses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   routerLink="/home/universe" routerLinkActive="active" >Universe</a>
          </li>
        
        </ul>
      </div>
    </div>
  </main>
 