<div class="jumbotron">
    <img src="http://st2.depositphotos.com/3562337/6709/i/450/depositphotos_67094435-stock-photo-alien-planet-with-planets-earth.jpg">
    <h1 class="display-4">Diameter: {{playerData.planeteDiameter}}</h1>
    <p class="lead">Temperature: {{playerData.planetTemperature}} </p>
    <hr class="my-4">
    <p> {{playerData.coordenates}} </p> 
    
</div>